*{
    margin: 0px;
    padding: 0px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: #424141;
    color: white;
}
#logo1{
    height: 60px;
    width: ;
}
li{
    list-style: none;
    margin-right: 20px;
    font-size: large;
    cursor: pointer;
}
li:hover{
    color: rgb(90, 236, 90);
    
}
.menu{
    display: flex;

}
.banner{
    display: flex;
    flex-direction: row-reverse;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    background-image: url(./images/background.png), linear-gradient(45deg, rgb(5,5,5), #2e2e2e);
    color: aliceblue;
}
.banner-img{
    height: 300px;
}
.banner-text h1{
    font-size: 60px;
    padding-bottom: 20px;
}
.banner-text p{
    font-size: 20px;
    padding-bottom: 20px;
}
button{
    padding: 15px;
    background-color: chartreuse;
    border-radius: 5px;
    border: none;
    font-size: large;
}
.about{
    height: 550px;
    
}
.about h1{
    text-align: center;
    margin-top: 20px;
    font-size: 60px;
}
.about-detail{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.about-text{
    margin-left: 300px;
    margin-right: 100px;
}
.about-text h2{
    font-size: 40px;
    margin-bottom: 20px;
}
.about-text p{
    font-size: 20px;
    margin-bottom: 20px;
}
.services{
    background-image: url(./images/background.png), linear-gradient(45deg, rgb(5,5,5), #2e2e2e);
    color: aliceblue;
    height: 600px;
}
.service1{
    width: 250px;
    height: 300px;
    padding: 10px;
    box-shadow: 4px 2px 105px gray;
    border: 5px;
    border-radius: 10px;
    margin-left: 30px;
    text-align: center;
}
.service1 img{
    height: 80px;
    padding: 10px;
}
.services h1{
    text-align: center;
    font-size: 60px;
    padding-top: 50px;
    margin-bottom: 60px;
}
.service1 h2{
    padding: 10px;
}
.service1 p{
    padding: 10px;
}
.service1 button{
    background-color: #1b1b1b;
    color: aliceblue;
}
.services-container{
    display: flex;
    justify-content: space-around;
}
.foot-container{
    height: 400px;
    background-color: #1b1b1b;
    color: aliceblue;
    padding-left: 100px;
    padding-right: 100px;
}
.foot{
    height: 360px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.foot1{
    height: 250px;
    width: 300px;
    
}
.foot1 h1{
    font-size: 25px;
    padding: 10px;
}
.foot1 p{
    font-size: 15px;
    padding: 10px;
    line-height: 30px;
}
.copyright{
    text-align: center;
    margin-top: 10px;
}